[2016-07-14 02:36] markthethomas opened #1 "todos"
- [x] CreateElement
- [x] mutable, immutable data
- [x] lifecycle methods
- [x] state
- [x] props
- [x] CSS
- [x] JSX
- [x] forms
- [x] using refs
- [x] typeahead search
- [x] server-side rendering
- [x] redux
- [x] auth

[2017-08-21 00:58] #1 closed

[2018-01-03 18:01] ezh opened #543 "SyntaxError: Unexpected token import"
Chapter 7
[code]
and so on... All tests are failed.
Solution - https://github.com/facebook/jest/issues/2081#issuecomment-306706600
We need to add one more plugin to .babelrc `transform-es2015-modules-commonjs`

After that all tests are passed as expected.

[2018-01-03 20:58] markthethomas commented on #543
@ezh thanks for reporting! Are you open to PRing?

[2018-02-14 17:05] baibhavgautam opened #545 "Branches `start`, `chapter3`, `chapter4` do not exist."
I am reading through the book and noticed that branches `start`, `chapter3`, `chapter4` do not exist.

[2018-02-26 17:26] kieronlanning opened #546 "Running `npm run dev` doesn't work"
Running the above command results in an error:

`ERROR in ./src/index.js
Module build failed: Error: Using `babel-preset-react-app` requires that you specify `NODE_ENV` or `BABEL_ENV` environment variables. Valid values are "development", "test", and "production". Instead, received: undefined. (While processing preset: "P:\\react-in-aciton\\letters-social\\node_modules\\babel-preset-react-app\\ind

[2018-02-26 19:35] #546 closed

[2018-02-26 19:35] kieronlanning commented on #546
Setting the NODE_ENV to Development seemed to work.

[2018-04-15 01:35] markthethomas commented on #545
hey, sorry I missed this. An update for everyone: the book is currently in production, so we're finishing up final (as in _final_ 🎉) reviews — I'll these branches w/in the next week. Sorry for any confusion — we had to split chapters up and the branches had to get adjusted accordingly 🤔

[2018-04-30 05:27] markthethomas commented on #545
Just an update: these branches should be available now!

[2018-05-31 05:13] wwu2008 opened #547 "package.json single quotes in scripts nodemon call cause problem"
when exe npm run dev in cmd console got following error:

[nodemon] starting `node index.js`
''node' is not recognized as an internal or external command,
operable program or batch file.
[nodemon] app crashed - waiting for file changes before starting...

looked package.json and remove single quote at this line, problem solved:

before change:
"api": "nodemon -x 'node -r @std/esm ./db/run.js --ins

[2018-07-05 18:47] markthethomas commented on #547
@wwu2008 oh interesting - what platform are you using? If we can establish quotes are no longer required, a PR would be super welcome!

[2018-07-05 18:48] markthethomas commented on #545
Closing as these branches are now available

[2018-07-05 18:48] #545 closed

[2018-07-05 18:48] markthethomas commented on #543
Closing as this doesn't some to be an issue in current state of release; will re-open if it comes back up

[2018-07-05 18:48] #543 closed

[2018-07-05 18:54] markthethomas opened #548 "TypeError: Object doesn't support property or method 'remove'"
https://sentry.io/react-in-action/react-in-action/issues/484230350/

[code]

[2018-07-05 18:58] markthethomas opened #549 "'build failed' with 'babel-preset-react-app'"
cf. https://forums.manning.com/posts/list/0/42477.page#p123120

[2018-07-05 21:49] markthethomas opened #550 "Like button errors on quick double-click"

[2018-07-06 21:30] ShelbyZ commented on #549
I think this breaks into smaller problems:

- Missing NODE_ENV=development for dev script
- Windows platforms don't understand NODE_ENV=* and would require SET NODE_ENV=*
- DisplayMap imported in Post.js is not used in Ch4 (not sure which chapter it is introduced)

[2018-07-06 21:46] markthethomas commented on #549
Ah you know what, I think that development env is because I’ve had ‘development’ set as my default NODE_ENV for years and I just forgot it was set 😦

[2018-07-06 22:07] ShelbyZ commented on #549
If you want to support multiple environments it may be worth looking into something like [cross-env](https://www.npmjs.com/package/cross-env) as I am not sure how to support both Windows & everything else in the same package.json.

[2018-07-24 08:42] prusswan opened #552 "generateStaticMapImage in DisplayMap is using wrong url format for mapbox"
In master/src/components/map/DisplayMap.js:

`https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/${lat},${lng},12,0,0/600x175?access_token=${process.env.MAPBOX_API_TOKEN}`

should be

`https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/${lng},${lat},12,0,0/600x175?access_token=${process.env.MAPBOX_API_TOKEN}`

[2018-07-25 05:51] markthethomas commented on #549
@prusswan sorry about that - the chapters got split really late in the writing process (it was a massive headache to deal with, but it made sense). I can delete the old branches, but renaming the commit messages themselves wasn't something I didn't want to do w/ public branches (even during MEAP). I _could_ rebase and force push, but that can cause issues, too. is there a reason you've felt the ne

[2018-07-25 05:54] markthethomas commented on #549
@ShelbyZ I do think cross-env may help here. It's worked well for me in the past, should be helpful here, too 👍

[2018-07-25 05:56] markthethomas commented on #552
@prusswan ah dang, need to get that fixed! If you're interested in contributing, feel free to open PRs to the relevant branches and we can get that resolved 👍

[2018-07-25 07:06] prusswan commented on #549
@markthethomas I use the repository and commits to see if I missed anything going from chapter to chapter (like "diffs"), so if the numbers are inconsistent it is just harder to figure out. Maybe you can update the README to match the new chapters at least.

[2018-07-25 13:36] ortemcheg opened #553 "Build failed:"
Failed to install the dependencies for the app. Got this:

[code]

It looks like there's something wrong with node-sass. Any ideas how to fix this?
The OS is macOS 10.13.6; node v10.7.0; npm 6.0.1

Thanks.

[2018-07-25 15:58] markthethomas commented on #553
hmmm I can take a look. Node-sass often has some issues; I'll try to reproduce, may be outdated packages

[2018-07-25 15:59] markthethomas commented on #549
@prusswan make sense! Oh man, I can't believe those aren't updated - I totally missed that. I'll get those sorted ASAP 👍

[2018-07-25 17:39] ortemcheg commented on #553
Thanks a lot.
Looking forward to see your findings.

[2018-07-25 19:07] markthethomas commented on #553
👍

[2018-07-27 12:55] ortemcheg commented on #553
I cloned the repo and ran `npm install` again but got a whole host of new errors.
First it was the version of Python that failed. Had to downgrade from v. 3.5.4 to 2.7. Now it's `grpc@1.7.3~install: Failed to exec install script` And the log doesn't say anything about node-sass anymore.
Is there any other way to play with the code for Letters Social?
It's taken so much time and effort to get to ch

[2018-07-28 14:31] ortemcheg commented on #553
Tried to install the app (Letter Social) on Linux (Ubuntu 16.04) and got the same error:
`Failed at the grpc@1.7.3 install script.`
It looks like it's the grpc@1.7.3. that needs to be fixed.
Any ideas how that could be done?

[2018-07-28 15:58] prusswan commented on #553
How did you setup the node/npm environment? system node or nvm?

[2018-07-28 16:41] markthethomas commented on #553
@ortemcheg can you downgrade your node to the support version? the carbon release line is what the project will support. I would imagine 10.x would work, but it's not a version I want to support till it goes LTS 👍 not sure why GRPC is in there, since this project wouldn't have used that for anything 🤔 let's try getting the node version to match first and see what that yields and work from there

[2018-07-29 13:58] ortemcheg commented on #553
@markthethomas Downgrading worked! I set up the app successfully 🎉 Thank you very much! But when I tried to start the app (after generating sample data) it crashed 🤦🏼‍♂️ Shall I create a new issue for it or is it ok to continue here?

@prusswan Thanks for helping me! It's system node on the mac and nvm on ubuntu

[2018-07-29 16:54] markthethomas commented on #553
@ortemcheg ok cool - that's at least one step. What happens when you start the app? Can you post the stack here?

[2018-07-29 16:55] #552 closed

[2018-07-29 18:41] prusswan commented on #553
Np, as @markthethomas said it is best to stick to `lts/carbon`. Also, you may need to reinstall the node_modules after changing the node version

[2018-07-29 19:31] ortemcheg commented on #553
@markthethomas Sure.

[./src/index.js] ./src/index.js 1.78 kB {0} [built] [failed] [1 error]
    + 13 hidden modules

ERROR in ./src/index.js
Module build failed: Error: Using `babel-preset-react-app` requires that you specify `NODE_ENV` or `BABEL_ENV` environment variables. Valid values are "development", "test", and "production". Instead, received: undefined. (While processing preset: "/Users/te

[2018-07-30 04:55] prusswan commented on #553
Should be the same issue as #549. You can add `NODE_ENV=development` to the start of the "dev" command in package.json as suggested by ShelbyZ

[2018-07-30 07:15] ortemcheg commented on #553
@prusswan Thanks a lot! Now the app is up and running.

@markthethomas Thank you again for your help!

[2018-07-30 07:15] #553 closed

[2018-07-31 04:40] markthethomas commented on #549
@prusswan updated in latest 👍

[2018-07-31 04:47] markthethomas commented on #553
@ortemcheg no problem! we'll get that NODE_ENV thing resolved soon too. Hope you enjoy the book and please feel free to reach out if you have any questions => https://twitter.com/MarkTheThomas

[2018-07-31 13:56] ortemcheg opened #556 "The start branch is missing"
In the first lines of Chapter 4.3. (Starting to create Letter Social) we read:

But there is no ‘start’ branch in my repository. And if I switch to ‘chapter-4’ then (as promised) I’ll find  the code for the end of Chapter 4.

If we go back a few sections, here’s what we’ll find in 4.1.1. Getting the source code:

Obviously that won’t.

So the question is: Where do I find the start branch?

Thanks

[2018-08-01 06:42] HaiderMalik12 opened #557 "Error: Using `babel-preset-react-app` requires that you specify `NODE_ENV` or `BABEL_ENV` environment variables"
### Steps to reproduce the issue

1. Clone the repo
2. `git checkout chapter-4`
3. `npm install`
4. `npm run dev`

Error: Using `babel-preset-react-app` requires that you specify `NODE_ENV` or `BABEL_ENV` environment variables. Validvalues are "development", "test", and "production". Instead, received: undefined. (While processing preset: "/Users/haidermalik504/Documents/React/code/letters-social/

[2018-08-01 06:49] HaiderMalik12 commented on #557
I resolved it by adding NODE_ENV=development
 "dev": "NODE_ENV=development npm-run-all -p api client:dev server:dev styles:w",

[2018-08-01 08:27] ortemcheg opened #558 "SyntaxError: Unexpected token import, chapter-4"
Looks like I got the same error as in #543 when I ran `npm run db:seed` in 'chapter-4' branch.
I added `transform-es2015-modules-commonjs` to the array of plugins in .babelrc which is in the project's root directory, but it didn't work. Maybe I should add that line to one of the other 11 .babelrc files that come with the project, but which one and how do I edit?

The error stack:
(node v.8.11.3, n

[2018-08-02 01:43] changyh opened #559 "Fix only on master branch, not in other branch involved"
The map error still not fixed on chapter-4.

ERROR in ./src/components/post/Post.js
Module not found: Error: Can't resolve '../map/DisplayMap' in '/home/pm/Books/ReactInAction/letters-social/src/components/post'
 @ ./src/components/post/Post.js 43:18-46
 @ ./src/app.js
 @ ./src/index.js

Please fix the error not only on master branch,...

[2018-08-02 06:17] markthethomas commented on #558
I’ll take a look! 👌

[2018-08-02 06:18] markthethomas commented on #557
Hey, sorry for the trouble. I’ll be resolving that via a PR to all branches shortly here

[2018-08-02 08:00] ortemcheg commented on #558
@markthethomas Mark, thanks! I resolved it myself.

I edited .babelrc to add `transform-es2015-modules-commonjs` to the list of plugins but I didn't install the plugin itself. When I ran `npm run db:seed` babel didn't complain about the missing plugin, which made me think that the plugin was there but the solution simply didn't work.

To those who stumbled upon this issue:
1. Open .babelrc in the

[2018-08-02 08:00] #558 closed

[2018-08-07 05:58] markthethomas commented on #559
Should be reflected now. Please open another issue if anything else comes up - thanks! :) 👍

[2018-08-07 05:58] #559 closed

[2018-08-07 05:58] markthethomas commented on #557
_should_ be resolved on all branches now

[2018-08-07 05:58] #557 closed

[2018-08-07 05:59] markthethomas commented on #556
https://github.com/react-in-action/letters-social/tree/chapter-4, no?

[2018-08-07 06:00] markthethomas commented on #556
Ah I see - I think this is some semantic confusion on my part due to the way the branches changed and editing. `chapter-4` is the "start" branch, I removed `start` somewhere in the process if I remember. sorry about that! that should go in errata for cleanup 👍

[2018-08-07 06:28] #556 closed

[2018-08-07 06:29] markthethomas commented on #549
This should be resolved on all branches

[2018-08-07 06:29] #549 closed

[2018-08-07 06:46] HaiderMalik12 commented on #557
Thanks Mark!

[2018-08-11 00:29] cricketgeek opened #561 "npm start fails in chapter-10-11 branch"
Cloned the repo,
changed into the directory
ran npm install
ran npm start

using npm 5.6.0

realize I'm jumping ahead in the book but guessing this should have worked?
Output below:

letters-social cricketgeek$ npm start

pm2 launched in no-daemon mode (you can add DEBUG="*" env variable to get more messages)
[2018-08-10 17:23:20] PM2 log: Launching in no daemon mode
[2018-08-10 17:23:20] PM2 log:

[2018-08-11 04:10] markthethomas commented on #561
weird! so it just hangs up after start? Let me see if I can repro

[2018-08-20 12:16] MrMic opened #562 "npm install at branch: chapter-4 failed !!!"
Hi,

As mentioned in the title I cannot end up cleanly with npm install !
I have clone your repository, then cd into it.
Then type: **git branch chapter-4** and finally:
**npm istall**

The last command end with an issue and I cannot study your book.
**I am with node version: 10.9.0**
**I am on Mac OSX: 10.13.6**

Here is the output:
======8< ------------------- >8 ====================
npm install

[2018-08-31 15:47] elfelround opened #563 "solved* clone permission denied (publickey)"
git clone git@github.com:react-in-action/letters-social.git
Cloning into 'letters-social'...
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2018-08-31 15:47] elfelround commented on #563
ive tried with https instead of git but then i cant execute the git checkout chapter-4 command

[2018-08-31 19:26] glstream opened #564 "webpack errors"
After running 'npm install' and seeding the db. I am getting this error:

JSON Server is running
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 127.0.0.1:3000
    at Object._errnoException (util.js:992:11)
    at _exceptionWithHostPort (util.js:1014:20)
    at Server.setupListenHandle [as _listen2] (net.js:1355:14)
    at listenInCluster (net.js:1396:12)

[2018-08-31 19:34] glstream commented on #564
I resolved by deleting repo and re cloning.

[2018-08-31 19:34] #564 closed

[2018-09-06 15:44] KatieNie opened #565 "Where is the start branch (i.e. pre chapter-4)?"
I would like to start the Letters Social app without the content of Chapter 4 already included but cannot find it. Thanks.

[2018-09-08 23:26] markthethomas commented on #549
Hey sorry, will patch with cross-env as soon as I’m able 👍
On Sat, Sep 8, 2018 at 4:19 PM Tri Nguyen <notifications@github.com> wrote:

[2018-09-08 23:27] markthethomas commented on #549
Open to PRs though 😉
On Sat, Sep 8, 2018 at 4:26 PM Mark Thomas <markthethomas@gmail.com> wrote:

[2018-09-11 21:57] markthethomas commented on #562
hey! sorry for the trouble. For one, we're not supporting node 10 yet, just 8, so I would try using that (maybe via NVM or whatever else you use to switch node versions) and see what results that yields back

[2018-09-11 22:38] elfelround commented on #563
followed this to solve https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2018-09-12 06:45] elfelround opened #567 "branch 5-6 npm run dev fails (nvm 8.12.0 & db:seed)"
npm run dev

module.js:550
    throw err;
    ^

Error: Cannot find module 'debug'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Module.require (module.js:597:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/home/cajadeleones/reactbook/letters-social/node_modules/chokidar/node_modules/expand-brackets/index

[2018-09-12 06:50] elfelround commented on #567
tried with npm start

npm start

                        -------------

__/\\\\\\\\\\\\\____/\\\\____________/\\\\____/\\\\\\\\\_____
 _\/\\\/////////\\\_\/\\\\\\________/\\\\\\__/\\\///////\\\___
  _\/\\\_______\/\\\_\/\\\//\\\____/\\\//\\\_\///______\//\\\__
   _\/\\\\\\\\\\\\\/__\/\\\\///\\\/\\\/_\/\\\___________/\\\/___
    _\/\\\/////////____\/\\\__\///\\\/___\/\\\________/\\\//_____
     _\/

[2018-09-12 06:51] #563 closed

[2018-09-12 06:55] elfelround commented on #562
1 install nvm and close console
2 nvm install 8.12.0
3 nvm use 8.12.0
4 cd letters-social
5 npm install
6 npm run db:seed
7 npm run dev **i cant get this to work tho*

[2018-09-12 11:31] MrMic commented on #562
Now it works!
Here is how I proceed (it may help others, I guess):
- clone the repository
- cd into it
- nvm install --lts=carbon
- nvm use --lts=carbon
- nvm current => v8.12.0
- checkout chapter-4
- npm install .... take some time
- npm de:seed
- npm run dev
- ... and Voila! go to http://localhost:3000

BTW, @markthethomas : 23 days to help me, let me puzzle ... I know that, now, you have
the mo

[2018-09-12 16:32] markthethomas commented on #567
@elfelround hmm I'll take a look; looks like missing module, maybe it slipped through somehow.

[2018-09-23 18:51] markthethomas commented on #567
@elfelround closing this since I applied a few patches and can't repro locally myself. Let me know if you still see the error after pulling 👍

[2018-09-23 18:51] #567 closed

[2018-09-23 18:51] #562 closed

[2018-09-23 18:52] markthethomas commented on #561
@cricketgeek closing as I can't repro locally - let me know if you're still seeing issues after fetching latest, re-installing, and ensuring node carbon release line being used and I'll take another look 👍

[2018-09-23 18:52] #561 closed

[2018-09-25 05:45] markthethomas commented on #565
Hey! This is a great point. I’ll crest one called “start” and get it up. Hope you’re enjoying the book!

[2018-10-13 23:55] nguyen190887 opened #570 "Got "SyntaxError: Unexpected token import" when run test in "chapter-9" branch"
I check out to "chapter-9", then run `npm test` and got error below
[code]

I googled and figured out that the root cause is JEST automatically set environment to `test`, while we only have `development` and `production` environment in `.babelrc` (see https://github.com/react-in-action/letters-social/blob/chapter-9/.babelrc).

Then I added below snippet to `.babelrc` and it worked
[code]

Could yo

[2018-10-22 23:11] ilenejohnson opened #571 "Chapter 6 - can't load map"
I installed the code for chapter 5-6.  I get the following error:

could not load TileJSON at http://a.tiles.mapbox.com/v4/mapbox.streets.json?access_token=pk.eyJ1IjoibWFya3RoZXRob21hcyIsImEiOiJHa3JyZFFjIn0.MwCj8OA5q4dqdll1s2kMiw util.js:19:12
log
util.js:19:12
_loadTileJSON/<
load_tilejson.js:13:20
r
request.js:28:8
e
corslite.js:46:13

[2018-10-25 14:44] jkrat commented on #571
I am also getting this error and unable to display in the map in my application.

[2018-10-26 09:41] ortemcheg opened #572 "Why isn't addMarker() bound to this?"
The addMarker() method in the [DisplayMap](https://github.com/react-in-action/letters-social/blob/master/src/components/map/DisplayMap.js) component, isn't bound to `this`.

Why?

[2018-11-04 15:14] mario-grgic opened #573 "Node 10 support."
npm install fails with node 10.13.0 on macOS 10.14.1.

[code]

[2018-11-16 20:41] markthethomas commented on #573
hey! looks like an issue w/ deps (nothing in the project that wouldn't support node 10 afaik). would you be open to looking at a PRing or using node 8?

[2018-11-16 20:42] markthethomas commented on #572
interesting - could be an oversight or something lost between the writing and the repo. I'll take a look 👍

[2018-11-17 21:53] mario-grgic commented on #573
Yes, I'm using node 8 where this repo works.

[2018-11-19 10:48] ghost opened #574 "[nodemon] app crashed - waiting for file changes before starting"
After comand npm run dev i have error [nodemon] app crashed - waiting for file changes before starting
http://prntscr.com/lk68wd
http://prntscr.com/lk69dt
How me fix it all and run our education project?
D:\letters-social-chapter-4>npm run dev

[nodemon] 1.18.3
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon] starting `node -r @std/esm ./db/run.js`
[nodemon] 1.18.3
[n

[2018-11-19 10:50] ghost commented on #574
Help please!
I am trying to fix a 4 days(((

[2018-11-20 01:37] markthethomas commented on #574
@Token19 we recently had some big personal events (good ones, but big) in our life, so I'm not able to spend a ton of time addressing issues here. But it looks like a webpack issue - what versions of node, npm, etc. are you using and what OS? mac or windows? thanks!

[2018-11-20 08:09] ghost commented on #574
I also have a good event - served in the army, and returned to home)
I steal only a little bit of your time with your permission, just give a hint please)
 Windows 10 Home, i try version node 11,10, 8.5, 9.2
version npm - dont look, but for the moment I have node 9.2, npm 5.5 and i
managed to configure this project without errors - https://www.youtube.com/watch?v=v0t42xBIYIs
if we do not find the

[2018-11-25 05:19] mmorrisisund commented on #565
Any idea when this could be available?

[2018-11-25 05:30] markthethomas commented on #565
Hey! I should have some time to get this together over the next two days 👍

On Sat, Nov 24, 2018 at 9:19 PM Mike Morris <notifications@github.com>
wrote:

--
Mark

- - - -
@markthethomas everywhere
ifelse.io

¯\_(ツ)_/¯

[2018-11-29 18:42] markthethomas commented on #573
Cool! I don't have plans to support node 10 in the immediate future, but will probably open up support early next year. I would recommend using 8, especially since there shouldn't be anything in 10 that changes how the app works/runs/etc. 👍

[2018-11-29 18:42] #573 closed, assigned to nobody

[2018-12-02 22:00] quiltLicker commented on #574
Is there any unfinished render in your file?

[2018-12-11 22:37] markthethomas commented on #565
@mmorrisisund hey just wanted to update you that I haven't forgotten about this - we have a newborn and it's been hard to find the time to get this fixed. I'll do it as soon as I can though :) thank you!

[2018-12-12 02:51] mmorrisisund commented on #565
No worries, I took a break for another project as well so it works out well

On Tue, Dec 11, 2018, 4:37 PM Mark Thomas <notifications@github.com> wrote:

[2019-01-09 07:15] ghost commented on #574
I have the same issue.
macOS 10.13.6 High Sierra
Node version - 11.3.0

[2019-01-17 15:05] usamaasfar opened #576 "How can i clone only the code for chapter 05?"
Please help me!!!

[2019-01-18 06:38] buchenkowa commented on #576
1. fork repository
2. `git clone` repository from your fork (origin)
3. `git remote add upstream git@github.com:react-in-action/letters-social.git`
4. `git fetch upstream chapter-5-6:chapter-5-6`
5. `git checkout chapter-5-6`

[2019-01-18 14:17] usamaasfar commented on #576
1. i fork the repo
2. `git clone https://github.com/Chawki726/letters-social`
entire code downloaded.
3.` git remote add upstream git@github.com:react-in-action/letters-social.git`
4.`git fetch upstream chapter-5-6:chapter-5-6`
**Got this error**

help me

[2019-01-18 18:21] buchenkowa commented on #576
https://stackoverflow.com/questions/12940626/github-error-message-permission-denied-publickey
https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

[2019-01-18 20:07] amodelbello commented on #571
I'm also unable to load the map from a fresh checkout of the chapter-5-6 branch. The requests to mapbox are coming back 401.

<img width="952" alt="screen shot 2019-01-18 at 1 04 47 pm" src="https://user-images.githubusercontent.com/2342804/51410423-d735aa80-1b21-11e9-8f32-9aec9b8e8b1a.png">

Did the mapbox api change or something?

[2019-01-19 07:51] usamaasfar commented on #576
Nothing solved this issue 😢

[2019-01-19 08:02] usamaasfar opened #577 "git@github.com: Permission denied (publickey)."
1. I fork the repo
2. `git clone https://github.com/Chawki726/letters-social`
entire code downloaded.
3. `git remote add upstream git@github.com:react-in-action/letters-social.git`
4. `git fetch upstream chapter-5-6:chapter-5-6`
**Error i got**

[2019-02-13 06:17] Rootjang92 commented on #574
run downgrade node version 8.11

[2019-02-14 04:54] markthethomas commented on #576
hey there! sounds like an issue w/ your ssh setup - are you able to clone other repos?

[2019-02-14 09:11] usamaasfar commented on #576
Hi, I was stuck in chapter 06 and want to clone the chapter-5 but I unable clone, When I clone the repo like what you have said in the book its clone the whole project.

[2019-02-15 23:12] butcherpete commented on #574
Thanks Rootjang92!
Solved all of my issues.

[2019-02-20 08:17] Rootjang92 opened #578 "The Server error? npm run dev is working but connected port 3000, screen said 'Welcome to Express'"
port 3000 was Express Welcome to Express and error message.
port 3100 is Not Found

Error: Not found
    at /Users/mac/Desktop/letters-social/server/server.js:43:17
    at Layer.handle [as handle_request] (/Users/mac/Desktop/letters-social/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/mac/Desktop/letters-social/node_modules/express/lib/router/index.js:317:13)
    at /Us

[2019-02-21 11:47] Rootjang92 commented on #571
I'm also unable to load map to coming back 401 error, tiles and image files
I think, this problem because token.

[2019-02-23 22:15] ahuimanu commented on #571
Changing the development.json and production.json MAPBOX_API_TOKEN setting to our own key does not fix it either.

[2019-02-24 07:03] Rootjang92 commented on #571
You said My account personality token right?

[2019-02-25 07:49] Rootjang92 commented on #571
I was changed MAPBOX_API_TOKEN but Can't read property mabox is undefined in vendor.js Why?

[2019-02-26 11:14] kaprielov commented on #571
same problem

[2019-03-01 02:31] bitwhys commented on #565
Hope all is well with the child...just commenting to reiterate interest on getting the starting branch. Also, thank you for writing the book in a first principles approach.

[2019-03-15 13:53] Askiater commented on #571
Facing the same problem here. The solution is pretty simple:
1) Create a account in Mapbox (or Sign In)
2) Go to "Account" (https://account.mapbox.com/) find a part with "Access tokens"
![image](https://user-images.githubusercontent.com/31743222/54434979-85378c80-4740-11e9-940b-3a78907b7542.png)
3) Copy your default public token (or create a new token, and use him)
4) Go to file development.json (

[2019-03-23 21:17] mbkupfer opened #579 "How does the endpoint request in ch4: app.js work?"
Hi @markthethomas

I'm curious about the endpoint http request in chapter 4:

[code]

I don't understand how the results get paginated. I understand it has something to do with `_page=#`, but I don't see this in any specifications and furthermore, I don't understand how it knows to bring provide only 10 items. Could you please clarify?

Thanks!

[2019-03-23 23:21] mbkupfer commented on #579
Never mind, I see now that this is part of JSON server documentation and that 10 is simply the default: https://github.com/typicode/json-server#paginate

[2019-03-23 23:21] #579 closed, assigned to nobody

[2019-03-27 20:00] markthethomas commented on #579
@mbkupfer indeed! sorry I didn't get to answer this sooner but you're right - it's just part of the JSON-server API. It may have been safe to do, but I didn't want to add in server-side pagination etc. to the scope of the reader 😄

[2019-04-11 11:13] kaprielov commented on #571
@Askiater it's helped, thank you! =)

[2019-05-18 17:06] DuudeXX8 opened #580 "After clone a project can't get image source."
Hi everyone.

I cloned  a project to my local machine and change branch to chapter-4. Install dependencies and after all of this I run npm run dev and get image error which says **net::ERR_BLOCKED_BY_CLIENT** (Image not found )

I don't change anything I just load project and install dependencies .
Here the sample of image component which show an image

`<Ad
       url="https://ifelse.io/book"

[2019-06-05 10:57] mcarmonadev commented on #571
It's great @Askiater , it solved my problem, once i did not find the 3th place to set my new key in the  vendor js file
your were helpful

[2019-06-22 11:09] DuudeXX8 commented on #571
@Askiater  Thank u so much :)

[2019-07-15 22:39] nikitakolesnikov13 commented on #574
Can you tell me how to do this? Thank you in advance!

[2019-07-15 22:40] nikitakolesnikov13 commented on #574
Can you give a guide, by your decision?

[2019-07-16 00:06] Rootjang92 commented on #574
your package.json file -> nodemon: v8.x.x enter
and npm install you got it!

[2019-07-16 00:10] nikitakolesnikov13 commented on #574
Oh, thanks!

[2019-10-10 11:07] brskzr opened #581 "Error on npm install"
Hi,
I got an error while installing modules, How can fix this ?
Thanks.

grpc@1.10.1 install: `node-pre-gyp install --fallback-to-build --library=static_library`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the grpc@1.10.1 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2019-10-16 13:07] BulatSa opened #582 "Npm install trouble"
Hello, on chapter-4 branch i have some problem with npm install, from console:

[code]

[2019-10-22 12:28] juliamourac commented on #581
Hey! Have you checked which version of Node you have installed and is using? The project uses 8.9.3. I advise you to use nvm to manage the versions. Also, check the file permissions of the directory.

[2019-12-02 02:03] vandytx commented on #565
Hi @markthethomas, curious if the start branch will be coming soon? Thanks.

[2019-12-09 20:54] akkdio commented on #582
install error here as well.   similar output

[2019-12-09 21:21] akkdio commented on #582
on mac so I did this and so far so good:
http://dev.topheman.com/install-nvm-with-homebrew-to-use-multiple-versions-of-node-and-iojs-easily/

[2019-12-09 21:40] akkdio opened #583 "Error: -p api client:dev server:dev styles:w"
partial log output
....
info using npm@6.4.1
info using node@v8.16.2

...
verbose stack Error: letters-social@1.0.0 dev: `cross-env NODE_ENV=development npm-run-all -p api client:dev server:dev styles:w`

...

[2019-12-23 15:45] LukasPokryvka opened #584 "SyntaxError: Unexpected token T in JSON at position 0"

[2019-12-24 07:10] VishalreddyA opened #585 "SyntaxError: Unexpected token T in JSON at position 0"

[2019-12-27 21:00] fire888 opened #586 "aaa"
aaaaaaaa

[2020-01-04 04:17] HussiJS opened #587 "SyntaxError: Unexpected token T in JSON at position 0"

[2020-01-06 10:17] YolandaKok opened #588 "Cannot sign up using github account"
When i am trying to sign up it shows me this error: SyntaxError: Unexpected token T in JSON at position 0

[2020-01-12 21:16] aspalx opened #589 "Something went wrong"
SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data

[2020-01-18 07:10] dim2k2006 opened #590 "SyntaxError: Unexpected token T in JSON at position 0"
![0c9d0879fd](https://user-images.githubusercontent.com/7868088/72660165-c6d93980-39da-11ea-806e-d6bfee7915ce.jpg)

[2020-01-29 18:56] Artem-Nanavov opened #591 "ghj"

[2020-01-29 18:56] Artem-Nanavov opened #592 "jhkjhk"
hjkhjk

[2020-02-21 04:14] #592 closed, assigned to nobody

[2020-02-21 04:14] #591 closed, assigned to nobody

[2020-02-21 04:18] markthethomas commented on #588
Unable to reproduce this - maybe you can provide some more info? Going to close until then :)

[2020-02-21 04:18] #588 closed, assigned to nobody

[2020-02-21 04:19] markthethomas commented on #589
Unable to repro this - is there more info you can provide? Closing but feel free to reopen with more info! 👍

[2020-02-21 04:19] #589 closed, assigned to nobody

[2020-02-21 04:19] markthethomas commented on #584
Unable to repro this - is there more info you can provide? Closing but feel free to reopen with more info! 👍

[2020-02-21 04:19] #584 closed, assigned to nobody

[2020-02-21 04:19] markthethomas commented on #585
Unable to repro this - is there more info you can provide? Closing but feel free to reopen with more info! 👍

[2020-02-21 04:19] #585 closed, assigned to nobody

[2020-02-21 04:19] #586 closed, assigned to nobody

[2020-02-21 04:19] markthethomas commented on #587
Unable to repro this - is there more info you can provide? Closing but feel free to reopen with more info! 👍

[2020-02-21 04:19] #587 closed, assigned to nobody

[2020-02-21 04:19] markthethomas commented on #590
Unable to repro this - is there more info you can provide? Closing but feel free to reopen with more info! 👍

[2020-02-21 04:19] #590 closed, assigned to nobody

[2020-02-21 07:56] Bavichi opened #593 "failed to fetch"
GET https://0.0.0.0:3500/posts?_page=1&_sort=date&_order=DESC&_embed=comments&_expand=user&_embed=likes net::ERR_ADDRESS_INVALID

[2020-02-21 09:41] nasmork128 opened #594 "social.react.sh - We're on it! [object Object] error"
Something went wrong :)

[2020-02-21 17:44] markthethomas opened #595 "(FYI) Demo site is down while I migrate providers"
In the middle of migrating providers and hit an unexpected snag halfway through everything - on it!

[2020-02-21 18:57] #594 closed, assigned to nobody

[2020-02-21 18:57] markthethomas commented on #594
see https://github.com/react-in-action/letters-social/issues/595

[2020-02-27 22:59] RAYDENFilipp opened #596 "SyntaxError: Unexpected token < in JSON at position 0"
Right after login, I get this error

[2020-03-03 19:32] chskela opened #597 "Error"
I can not start the project, dependencies are outdated. Tell me what to do?

[2020-03-03 19:53] #597 closed, assigned to nobody

[2020-03-04 16:55] integromedia commented on #574
Greetings. "nodemon": states "1.18.11", Please explain what you mean by "your package.json file -> nodemon: v8.x.x enter" above from July 15, 2019. I thank you for your assistance.
Greg

[2020-03-05 00:38] geunhojang commented on #574
When you install nodemon, version downgrade and install

[2020-03-05 00:39] geunhojang commented on #574
Rootjang92 is me

[2020-03-06 18:33] integromedia commented on #574
I thank you for your reply geunhojang. So when you state above "When you install nodemon, version downgrade and install", do you mean I need to install nodemon? "nodemon: v8.x.x" is mentioned though "run downgrade node version 8.11" suggests to downgrade node version to "v8.x.x". Since nodemon = "1.18.11", do I downgrade 1.18.11?

[2020-03-08 19:25] m-koops commented on #596
Same here

[2020-03-09 09:05] MainaKimani commented on #596
Same case over here

[2020-03-09 20:56] ityalam opened #598 "[nodemon] app crashed - waiting for file changes before starting..."
Can anyone help

[2020-03-17 21:39] Rammfall commented on #581
Use the last node 8x(8.17.0)

[2020-04-22 23:51] j-terranova opened #599 "Problems with Chapter 4"
I have problems running the npm run db:seed and npm run dev.

I have uninstalled and reinstalled node_modules.  I then had to uninstall and reinstall node-sass as I was getting  message that the version I had would not run with Windows 64bit.

When I ran dbseed I had the error you (Mark T) indicated from about 2 years back and made the recommended changes to pluggins for .babelrc .

When I ran db:

[2020-04-23 14:04] j-terranova commented on #558
I have made these changes and am still getting the issue. Error log below:
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Users\\jterr\\Documents\\NodeProjects\\Node\\node.exe',
1 verbose cli   'C:\\Users\\jterr\\Documents\\NodeProjects\\Node\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'db:seed'
1 verbose cli ]
2 info using npm@6.13.6
3 in

[2020-06-16 12:50] rochitsen opened #600 "npm run db:seed fails with error 134"
Checked out chapter 4 branch. When i run command:
`npm run db:seed` get error:
[code]
What could be wrong? My node version is: v12.17.0 and npm version is: v6.14.4.

[2020-06-17 04:05] rochitsen commented on #599
I have the exact same issue.

[2020-07-02 17:10] markthethomas commented on #596
hey all! I can take a look at this - probably something getting a non-JSON response back (hence the `<`)

[2020-07-11 17:54] brtchkv opened #601 "Error concerning node-sass while running npm run dev"
node[15686]: ../src/node_file.cc:836:void node::fs::Stat(const FunctionCallbackInfo<v8::Value> &): Assertion `(argc) == (4)' failed.
 1: 0x10007e9b3 node::Abort() [/usr/local/bin/node]
 2: 0x10007e75b node::AppendExceptionLine(node::Environment*, v8::Local<v8::Value>, v8::Local<v8::Message>, node::ErrorHandlingMode) [/usr/local/bin/node]
 3: 0x1000882b9 node::fs::LStat(v8::FunctionCallbackInfo<v8:

[2020-07-11 20:13] brtchkv commented on #601
solved by installing node with 8.X version with `nvm`.  Also changed `webpack-dev-middleware` version to 3.7.2

[2020-07-11 20:13] #601 closed, assigned to nobody

[2020-09-03 09:21] GrowUpXin opened #602 "charpeter 4 npm install have error"
node-pre-gyp ERR! Tried to download(403): https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.7.3/node-v72-win32-x64-unknown.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@1.7.3 and node@12.18.3 (node-v72 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp ERR! Tried to download(undefined): https://storage.googleapis.com/grpc-precompiled-bina

[2020-09-07 06:20] GrowUpXin opened #603 "chapeter 4 webservers error"
Cannot read property 'likes' of undefined
    at Function.mapStateToProps

[2020-09-09 08:00] GrowUpXin opened #604 "there are some question in charptar 6!!"
![image](https://user-images.githubusercontent.com/30682583/92571325-8efa6b80-f2b5-11ea-905a-d1c402c79268.png)

[2020-09-09 08:02] GrowUpXin commented on #604
and when i press the button submit it take error show that
TypeError: Cannot read property 'toString' of undefined at F:\react\letters-social\node_modules\lodash-id\src\index.js:37:51 at baseFindIndex (F:\react\letters-social\node_modules\lodash\lodash.js:823:11) at findIndex (F:\react\letters-social\node_modules\lodash\lodash.js:7275:14) at Function.find (F:\react\letters-social\node_modules\loda

[2020-09-09 08:04] GrowUpXin commented on #604
![image](https://user-images.githubusercontent.com/30682583/92571705-07612c80-f2b6-11ea-883c-a0d033eebb92.png)
the zero is my new message
the one is zhe api provide when i add this posts the error happend

[2020-09-09 08:09] GrowUpXin commented on #604
![image](https://user-images.githubusercontent.com/30682583/92572271-c7e71000-f2b6-11ea-872b-f7309ed60152.png)

[2020-10-02 20:52] mmraff commented on #580
Do you have an Ad blocker installed in your browser?
If so, try "Don't run on pages on this site" (that's the AdBlock-specific plugin option) or whatever the corresponding option in your blocker.

[2020-10-04 12:10] DuudeXX8 commented on #580
Yup, I have Ad blocker in browser. After change ad block configuration as you said it worked. Ty 👍

[2020-10-04 12:10] #580 closed, assigned to nobody

[2020-11-06 22:12] thefont commented on #602
EDIT: I was able to get the dependencies to install as-is, seed the db, and start the app by first installing Node v8.17.0

_________________________________________________________________________________________________________________________

I was able to get around this and install all of the dependencies by updating the firebase and firebase-admin packages.

[code]

I haven't tried to run i

[2020-11-17 07:43] StasMironov opened #605 "failed to fetch!!!"
GET https://0.0.0.0:3500/posts?_page=1&_sort=date&_order=DESC&_embed=comments&_expand=user&_embed=likes net::ERR_ADDRESS_INVALID

[2020-12-28 05:47] rakhmanzhanov-d commented on #571
![image](https://user-images.githubusercontent.com/70687062/103192252-3e5d5b80-4902-11eb-8cca-6d39ca9a2679.png)

It says that Classic styles are no longer supported and linked me to this webpage to change come configuration. In which file should I change the configuration?????

[2021-01-03 08:24] wildwind123 commented on #600
This help me
[code]

[2021-01-10 16:36] BobMakhlin commented on #599
Where is the author?

[2021-01-10 22:47] rochitsen commented on #599
@BobMakhlin I was able to resolve it. Will post the details soon here. I think I used a different version of node.

[2021-06-05 17:40] ZouhirBensm opened #606 "Help react in action letters"
Hello,

So i've read the book up to chapter 4 and so far so good. I'm having issues running the app in developer 'mode' locally. I tried to clone the letters repo, and run it but it didn't work (picture1).

[code]

 So then I tried to clone the repo with the command given in the book, and it didn't work either (picture2).

[code]

Can you please give me a step by step way to make things work?

Las

[2021-07-22 13:03] gocoder2020 opened #607 "TypeError: Failed to fetch"
Just found the "TypeError: Failed to fetch" in webpage after run npm run dev.
How to handle this error in chapter-4 branch?
Thanks!

[2021-07-28 03:49] flyonok commented on #570
It's ok, thanks.

[2021-09-01 15:04] salber opened #608 "https://social.react.sh is offline"

[2021-09-12 12:39] muratkeremozcan commented on #582
Using node version 8 to be precise.

`nvm use 8`

[2021-09-20 11:26] muratkeremozcan commented on #571
This is still a problem @markthethomas .

[2021-11-16 23:48] bzdgn commented on #599
Any updates? I cannot make it run neither on Windows nor on Mac, seems to be a node version issue.

[2021-11-28 23:12] bzdgn commented on #608
Did you see this? @markthethomas

I'm also having problems to build the react app on my local.

[2022-03-08 02:18] ZouhirBensm commented on #606
Hello, need some help to get the app running. what scripts do I have to run to make things work locally? please.

The book just says:
"As I mention in other places in this book, tooling around JavaScript applications can be a complex and fast-moving target. It’s also a domain that deserves its own treatment. For these reasons, I won’t be covering how to set up things like Webpack, Babel, or other

[2022-03-14 04:54] variousred commented on #595
Any plans to resurrect this project?

[2022-04-21 20:43] asuzdal commented on #571
I just followed official mapbox [Migrating to the modern Static Tiles API ](https://docs.mapbox.com/help/troubleshooting/migrate-legacy-static-tiles-api/?/=blog&utm_source=mapbox-blog&utm_campaign=blog%7Cmapbox-blog%7Cdoc-migrate-static%7Cdeprecating-studio-classic-styles-d8892ac38cb4-20-03&utm_term=doc-migrate-static&utm_content=deprecating-studio-classic-styles-d8892ac38cb4) guide and made few u

[2022-05-07 15:55] artem9 opened #609 "Redux dev tools configuration"
https://github.com/react-in-action/letters-social/blob/a841bd1c0f6ad8a910a74f076f3d079a6790756c/src/store/configureStore.dev.js#L19-L21

The official extension [page](https://github.com/reduxjs/redux-devtools/tree/main/extension#installation) says:

For the basic usage we can use the following configuration:
`typeof window !== 'undefined' && window.__REDUX_DEVTOOLS_EXTENSION__
        ? window.__R

[2022-06-06 00:16] alex-vungle opened #610 "Is Chapter3 or start branch missing?"
@markthethomas I would like to build the letters social app from chapter 4, the book side I should use the start branch, but I don't find it.